.navbar-bg {
    background-color: #1F1D36 !important;
}

.nav-item {
    color: rgba(245, 245, 245, 0.876) !important;
    margin-right: 10px;
    font-weight: 600;
}
.nav-item:hover {
    color: rgb(245, 245, 245) !important;
}